



<h1>Hello {{user.name}}</h1><button ng-click="clearCookie()">Log Out(clear cookie)</button>

<!-- wall stuff will go here.  -->
<!-- <div class="comment" ng-repeat="c in m._comments">
  <p>{{c.content}}</p>
  <p>{{c._user.name}}</p>
</div> -->
<div id="mess" class="messages" >
  <p ng-repeat="m in messages" class="message-content">{{m._user.name}}: {{m.content}} </p>
</div>


<div class="input-top">
  <form ng-submit="submitNewMessage()">
    <label>Enter Message:
      <input type="text" ng-model="newMessage.content">
    </label>
    <button >Submit</button>
  </form>
</div>



<!--
  <div class="comment-field">
    <label>Enter Comment: <textarea ng-model="content"></textarea></label>
    <button ng-click="submitNewComment(m._id, content)">Submit</button>
  </div> -->
